html{
    background-color: rgb(179, 155, 127);
}

body {
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  h1 {
    background-color: #434446;
    color: white;
    padding: 1em;
  }
  
  h2 {
    color: white;
    padding: .5em;
  }
  
  h3 {
    color: white;
    padding: .5em;
  }

  h4 {
    color: white;
    padding: .5em;
  }
  
  a:link,
a:visited {
  background-color: rgb(29, 53, 87);
  color: white;
}

button {
  padding: 10px;
  margin: 3px 8px;
}

#square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: rgb(3, 153, 145);
}